body {
  font-family: Arial;
  color: white;
  padding: 0;
  margin: 0;
}

#here, #here2 {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 50%;
}

.logs {
	width: 98%;
	height: 98%;
	margin: auto;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding: 0;
}

.left {
  width: 65%;
  left: 0;
  background-color: #111;
}

.right {
  width: 35%;
  right: 0;
  background-color: #333;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

input {
	margin: 1px;
}

input[type="checkbox"] {
	text-align: left;
	width: 10px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: white;
  outline: none;
  border:none;
  opacity: 0.7;
  -webkit-transition: .1s;
  transition: opacity .1s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: lightgrey;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: lightgrey;
  cursor: pointer;
}

div .time {
	background-color: lightgrey;
	display: inline-block;
	width: 80px;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
  margin-top: 10px;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: #04AA6D;
}

.clock {
	width: 30px; 
	display:inline-block;
}

.c1 {
	color: black;
}
.c2 {
	color: black;
}
.c3 {
	color: black;
}
.c4 {
	color: black;
}
.c5 {
	color: deepskyblue;
}
.c6 {
	color: deepskyblue;
}
.c7 {
	color: deepskyblue;
}
.c8 {
	color: deepskyblue;
}
.c9 {
	color: deeppink;
}
.c10 {
	color: black;
}
.c11 {
	color: black;
}
.c12 {
	color: black;
}
.c13 {
	color: black;
}
.c14 {
	color: black;
}
.c15 {
	color: yellowgreen;
}
.c16 {
	color: black;
}
.c17 {
	color: green;
}
.c18 {
	color: black;
}
.c19 {
	color: red;
}
.c20 {
	color: darkred;
}
.c21 {
	color: orange;
}
.c22 {
	color: orangered;
}
.c23 {
	color: black;
}

.tbl-recherche input[type="color"] {
	width: 16px;
	height: 16px;
	padding: 1px;
	border: none;
	margin-right: 8px;
}

.tbl-recherche tr, .tbl-recherche td {
	padding: 0;
	margin: 0;
}

.tbl-recherche input[type="text"], .tbl-recherche input[type="number"] {
	margin: 0;
}

.tbl-log, .tbl-recherche {
	width: 100%;
}
